<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <script src="/javascripts/jquery-offline.js"></script>
    <script src="/javascripts/timeline.js"></script>
</head>

<body>
    <div class="page-wrap">
        <header>
            <div class="content">
                <h1>Goto fail; web-based timeline</h1>
            </div>
        </header>

        <main>
            <div class="content">
                <p>Placeholder main</p>
                <table class="timeline">
                    <tbody>
                        <tr>
                            <th>Count number</th>
                            <% cameraTimelines.forEach(timeline => { %>
                            <th><%= timeline.name %></th>
                            <% }); %>
                        </tr>
                        <%
                            // Setup vars
                            var curShotNumber = new Array();
                            var prevShot = new Array();
                            var curShot = new Array();
                            console.log("\n STARTING \n");
                            for (j = 0; j < cameraTimelines.length; j++) {
                                curShotNumber[j] = 0;
                                prevShot[j] = null;
                                curShot[j] = cameraTimelines[j].getCameraShots()[0];
                                console.log(curShot[j]);
                            }

                            for(i = minCount*4; i <= maxCount*4; i++) { %>
                                <tr>
                                    <td><% if (i%4 === 0) {
                                            %><%=i/4%><%
                                        } else {
                                            %>-<%
                                        }%></td>
                                    <% for(j = 0; j < cameraTimelines.length; j++) {
                                        if(j == 1) {
                                            console.log(j);
                                            console.log("hidasfero");
                                            console.log(curShotNumber[j]);
                                            console.log(curShot[j].beginCount);
                                        }
                                        if (curShotNumber[j] != -1 && curShot[j].beginCount*4 === i) { console.log("hiero") %>
                                        <td rowspan="<%= (curShot[j].endCount - curShot[j].beginCount) * 4 + 1 %>">
                                            <div class="timeline-block">
                                                <span><%= curShot[j].beginCount %> - <%= curShot[j].endCount %></span>
                                            </div>
                                        </td>
                                        <% curShotNumber[j]++;
                                        if (curShotNumber[j] < cameraTimelines[j].getCameraShots().length) {
                                            prevShot[j] = curShot[j];
                                            curShot[j] = cameraTimelines[j].getCameraShots()[curShotNumber[j]];
                                        } else {
                                            curShotNumber[j] = -1;
                                        }
                                    } else if (prevShot[j] === null || curShot[j].beginCount*4 > i && prevShot[j].endCount*4 < i) { %>
                                        <td></td>
                                    <% }
                                    } %>
                                </tr>
                        <% }; %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <footer>
        <div class="content">
            <p>Goto fail; All rights reserved</p>
        </div>
    </footer>
</body>

</html>